.top-container {
  background-color: #FFEEAD;
  margin-top: 0;

}

.lazylord-heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 175px;
  position: absolute;
  top: 200px;
  left: 200px;

}

.tagline {
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 370px;
  left: 320px;
}

.landlord-underline {
  text-decoration: underline;
}

.time-underline {
  text-decoration: underline;
}

.iphone-img {
  height: 700px;
  width: 500px;
  position: relative;
  left: 63%;
}

.why-container {
  background-color: #E6DDC6;
}

.why-lazylandlord {
  font-family:'Inter' , sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.house-img {
  width: 300px;
  height: 300px;
  position: relative;
  left: 10%;
}

.house-img:hover {
  transform: scale(1.1);
}

.dates-h3 {
  font-family:'Inter' , sans-serif;
  font-size: 32px;
  color: white;
  position: relative;
  left: 11%;
}


.bill-img {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
}

.bill-img:hover {
  transform: scale(1.1);
}

.bills-h3 {
  font-family:'Inter' , sans-serif;
  font-size: 32px;
  color: white;
  position: relative;
  left: 45%;
  bottom: 45px;
}

.tenant-img {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 70%;
}

.tenant-img:hover {
  transform: scale(1.1);
}

.screen-h3 {
  font-family:'Inter' , sans-serif;
  font-size: 32px;
  color: white;
  position: relative;
  left: 71%;
  bottom: 90px;
}

.reviews-container {
  background-color: #FFEEAD;
}

.reviews-h2 {
  font-family:'Inter' , sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  margin-top: -10px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.SJ-img {
  width: 700;
  height: 500px;
  position: relative;
  left: 0;
}

.laura-img {
  width: 700;
  height: 500px;
  position: absolute;
right: 0;
}
